<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forgetPassword.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,30}</string>
                <key>spriteSourceSize</key>
                <string>{111,30}</string>
                <key>textureRect</key>
                <string>{{718,170},{111,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guestBtn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,95}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{434,1},{303,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guestBtn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,93}</string>
                <key>spriteSourceSize</key>
                <string>{303,95}</string>
                <key>textureRect</key>
                <string>{{531,1},{289,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,431}</string>
                <key>spriteSourceSize</key>
                <string>{509,431}</string>
                <key>textureRect</key>
                <string>{{1,1},{509,431}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginBtn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,90}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{614,292},{206,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loginBtn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,88}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{434,306},{198,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>login_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,68}</string>
                <key>spriteSourceSize</key>
                <string>{167,68}</string>
                <key>textureRect</key>
                <string>{{626,209},{167,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>login_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,68}</string>
                <key>spriteSourceSize</key>
                <string>{167,68}</string>
                <key>textureRect</key>
                <string>{{718,1},{167,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinBtn_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,90}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{626,1},{206,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>signinBtn_pressed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,88}</string>
                <key>spriteSourceSize</key>
                <string>{206,90}</string>
                <key>textureRect</key>
                <string>{{524,306},{198,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>snail1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,-7}</string>
                <key>spriteSize</key>
                <string>{127,113}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{851,388},{127,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{706,388},{143,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{831,130},{155,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{171,127}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{795,1},{171,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{155,127}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{795,259},{155,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>snail6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-4}</string>
                <key>spriteSize</key>
                <string>{143,119}</string>
                <key>spriteSourceSize</key>
                <string>{177,127}</string>
                <key>textureRect</key>
                <string>{{706,388},{143,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui_login.png</string>
            <key>size</key>
            <string>{996,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ece05abb9b93c7cac5009cca7dca9d46:1252682a1fb37eff1851f24f94576529:30868f0eb6596c0c384f2bd19526b655$</string>
            <key>textureFileName</key>
            <string>ui_login.png</string>
        </dict>
    </dict>
</plist>
